    body{
        margin: 20px;
        color: rgb(0, 0, 0);
    }

    .top-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    }

    .top-text{
        border-left-width: 2px;
        border-left-color: black;
    }

    .banner{
        padding: 10px;
        width: 100%;
    }

    .first-row{
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 40px;
        height: 500px;
    }

    .txt{
        margin: 0;
        padding: 0;
    }

    .price{
        margin-top: 5px;
    }

    .bottom-section{
        color: coral;
        margin-top: -15px;
        display: grid;
        grid-template-columns: 50px 5px 120px;
        column-gap: 5px;
    }
